/* test */

.titre {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}
.global {
    color: rgba(0, 0, 0, 0.452);
    border: solid 1px black;
    border-radius: 20px;
    margin: 0 auto;
    width: 750px;
    padding: 1.1rem;
    background: white;
    margin-top: 3.5%;
}

.global input {
    background: rgba(0, 0, 0, 0.068);
    margin-bottom: 10px;
    border-radius: 10px;
}

.global h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}
label {
    margin-left: 5px;
}

.cgu a {
    color: blue;
}

.submit {
    border: solid 1px black;
    width: 100px;
    margin: 0 auto;
    border-radius: 5px;
}

.submit :hover {
    color: blue;
}
/* Width register*/
#pseudo {
    margin-left: 0.7%;
}

#email {
    width: 70%;
    margin-left: 0.7%;
}

#adress {
    width: 81%;
    margin-left: 0.7%;
}

#phoneNumber {
    width: 29.6%;
    margin-left: 0.7%;
}

#zipcode,
#ville {
    width: 38.5%;
    margin-left: 0.7%;
}

#password,
#passwordConfirmation {
    width: 25.4%;
    margin-left: 0.7%;
}

#Information {
    margin-left: 0.7%;
}

/* LOGIN */

.global2 {
    color: rgba(0, 0, 0, 0.452);
    border: solid 1px black;
    border-radius: 20px;
    margin: 0 auto;
    width: 550px;
    padding: 1.1rem;
    background: white;
    margin-top: 8%;
}

.global2 input {
    background: rgba(0, 0, 0, 0.068);
    margin-bottom: 10px;
    border-radius: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.login label {
    flex-direction: column;
}

.submit2 {
    border: solid 1px black;
    width: 100px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 5%;
}

.submit2 :hover {
    color: blue;
}

.sign {
    text-align: center;
    margin-top: 15px;
}

.sign a {
    font-weight: 700;
    color: black;
}

.sign a:hover {
    color: blue;
}
