.NavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}
.Nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
}
.direction {
    margin-left: 20px;
}
