.global {
    border: solid 1px black;
    width: 500px;
    margin: 0 auto;

    padding: 1.1rem;
}

.global .form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.global div {
    padding: 0.07rem;
}

.global h1 {
    text-shadow: 0 0 3px #5b6167, 0 0 7px #0049c8, 0 0 20px #727a85;
    color: rgba(0, 0, 0, 0.316);
    text-align: center;
}

.global label {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff,
        1px 1px 10px #141414;
    color: #333;
    padding: 0.5rem;
}

.global input {
    border-radius: 10px;
    background: rgba(51, 51, 51, 0.081);
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.622);
}

.global small {
    color: red;
}

.global .submit {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff,
        1px 1px 10px #141414;
    color: #333;
    border: 1px solid black;
    width: 100px;
    margin-left: 38%;
}

.global .submit:hover {
    color: blue;
}

/* Identifiant */

#password {
    margin-left: 95px;
}

#zipcode {
    margin-left: 98px;
}
#ville {
    margin-left: 160px;
}
#adress {
    margin-left: 77px;
}
#phoneNumber {
    margin-left: 31px;
}
#surName {
    margin-left: 90px;
}
#pseudo {
    margin-left: 96px;
}

/* .input {
    background: rgba(0, 0, 0, 0.068);
    margin-bottom: 10px;
    border-radius: 10px;
} */
