/* .cardPerso {
    width : 160px;
    height: 230px;
    text-align: center;
    margin: 5px 10px 0px 0px;
}

.cardPerso p {
    font-size : 80%;
} */

.cardPerso .illus {
    height : 130px;
}

.cardPerso img {
object-fit: cover;
   height: 100%;
   width: 100%;
}
